.card {
  width: 24rem; 
  border-radius: 0.5rem; 
  padding: 1.5rem; 

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 

  background: linear-gradient(to bottom, #3b82f6, #22c55e); 

  border: 1px solid #fbbf24; 
  box-shadow: none;

  transition:
    box-shadow 300ms ease-out,
    transform 300ms ease-out;
}

.card:hover {
  box-shadow:
    0 10px 18px -6px rgba(251, 191, 36, 0.45),
   -6px  0 12px -6px rgba(251, 191, 36, 0.225),
    6px  0 12px -6px rgba(251, 191, 36, 0.225);

  transform: translateY(-0.25rem); 
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}
